<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="home">

      <div class="registration">
        <div class="registration_content">
          Não possuia uma conta?
        </div>
        <a href="#">Registrar-se</a>
      </div>

      <div class="home_banner">
        <div class="presentation"> 
          <h1>LoginPage</h1>
          <p>Ferramentas: Express</p>
        </div>
      </div>

      <div class="home_login">

        <div class="inner_home_login">

          <div class="login_area">

            <div class="login_area_title">
              <h2>Iniciar sessão</h2>
            </div>

            <form class="login_area_fill">
              <label for="email" name="email" class="email">Email</label>
              <input type="email" name="email" id="email" class="input_eml">
              <label for="password" name="password" class="password">Senha</label>
              <input type="password" name="password" id="password" class="input_psw">
              <a href="#">esqueceu sua senha?</a>
              <button type="submit">Entrar</button>
            </form>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>
