<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/registration.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="home">

      <div class="registration">
        <div class="registration_content">
          Já possui uma conta?
        </div>
        <a href="/">Conecte-se</a>
      </div>

      <div class="home_banner">
        <div class="presentation"> 
          <h1>LoginPage</h1>
          <p>Ferramentas: Express</p>
        </div>
      </div>

      <div class="home_login">

        <div class="inner_home_login">

            <div class="login_area">

                <div class="login_area_title">
                <h2>Introduza os seus dados e registre-se</h2>
                </div>

                <form class="login_area_fill">

                    <div class="personal_data">
                        <div class="name">
                            <label for="name" name="name" class="label_name">Nome</label>
                            <input type="text" name="name" id="name" class="input_eml">
                        </div>
                        <div class="birth_date">
                            <label for="birth_date" name="birth_date" class="label_birth_date">Data de nascimento</label>
                            <input type="date" name="birth_date" id="birth_date" class="input_eml">
                        </div>
                    </div>

                    <label for="email" name="email" class="email">Email</label>
                    <input type="email" name="email" id="email" class="input_eml">
                    <label for="password" name="password" class="password">Senha</label>
                    <input type="password" name="password" id="password" class="input_psw">
                    <button type="submit">registrar-se</button>
                </form>

            </div>
        </div>

      </div>

    </div>

  </body>
</html>
